.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  width: 207px;
  margin-bottom: 20px;
}
.label {
  font-size: 16px;
  font-weight: 700;
}
