.header {
  background: linear-gradient(90deg, #bec0d5, #3949ab);
  padding: 15px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* display: flex; */
}

.userInfo {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.item {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}
.home {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  align-items: center;
}

.authBox {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.button {
  background-color: #ff3b3f;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #d32f2f;
}

.button:focus {
  outline: none;
}

.button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}
