.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  background-color: #979ea2;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.info {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  font-weight: 700;
  gap: 5px;
}
.name {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}
.number {
  font-size: 20px;
  color: #fff;
}
.buttonBox {
  display: flex;
}
.icon {
  margin-right: 20px;
}
