.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  background-color: #b5b1b1;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.info {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  font-weight: 700;
  gap: 5px;
}
.name {
  font-size: 18px;
  font-weight: 600;
  color: #007bff;
}
.number {
  font-size: 14px;
  color: rgb(93, 117, 57);
}
.button {
  align-self: flex-end;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  background-color: #dc3545;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #c82333;
}
